body {
    background: $mainDark;
    font-family: Arial, Helvetica, sans-serif;
    color: $mainLight;
    .App {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        .page-view {
            position: relative;
            height: 100%;
            width: 100%;
        }
    }
    a {
        text-decoration: none;
    }
    .base-input {
        background: transparent;
        padding: 10px;
        border-radius: 2px;
        border: none;
        outline: none;
        transition: 0.3s;
        box-shadow: none;
        &:focus {
            outline: none !important;
        }
    }
    
    .base-button {
        background: none;
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }

    .base-input-toggle {
        position: absolute;
        right: 1em;
        top: 0;
        bottom: 0;
        margin: auto;
        height: max-content;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.5px;
        cursor: pointer;
    }
    
    .axios-loader-container {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: auto;
        z-index: 10;
        background: $transparentCover;
        transition: 0.3s;
        display: none;
        .axios-loader:before, .axios-loader:after{
            content: "";
            position: absolute;
            width: 50px;
            height: 50px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 100%;
            border: 10px solid transparent;
            border-top-color: $mainDark;
          }
        
        .axios-loader:before{
            z-index: 100;
            animation: spin 1s infinite;
            animation-delay: 0ms;
        }
        
        .axios-loader:after{
            border: 10px solid $mainLight;
        }
    }

    .axios-message-container {
        background: $mainLight;
        position: fixed;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        color: $mainDark;
        width: max-content;
        padding: 10px 25px;
        border-radius: 5px;
        animation-name: slide-bottom;
        animation-duration: 0.3s;
        transition: 0.3s;
        animation-iteration-count: 1;
        display: none;
    }

    @keyframes slide-bottom {
        from {
            opacity: 0;
            top: 0px;
        }
        to {
            opacity: 1;
            top: 20px;
        }
    }

    .error-message {
        color: $mainRed;
        text-align: left;
        width: 100%;
        font-size: 12px;
    }
    
    .fail-border { border-color: $mainRed !important; }

    @keyframes spin{
        0%{
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      
        100%{
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
    }
}

