body {
    background: $mainDark;
    font-family: "FiraSans-Regular";
    color: $mainLight;
    .App {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 100%;
        .page-view {
            height: 100%;
        }
    }

    a {
        text-decoration: none;
    }

    .d-none {
        display: none !important;
    }

    .text-center {
        text-align: center;
    }

    .axios-loader-container {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: auto;
        z-index: 10;
        background: $transparentCover;
        transition: 0.3s;
        display: none;
        .axios-loader:before, .axios-loader:after{
            content: "";
            position: absolute;
            width: 50px;
            height: 50px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 100%;
            border: 10px solid transparent;
            border-top-color: $mainDark;
          }
        
        .axios-loader:before{
            z-index: 100;
            animation: spin 1s infinite;
            animation-delay: 0ms;
        }
        
        .axios-loader:after{
            border: 10px solid $mainBorder;
        }
    }

    .axios-message-container {
        background: $alternateSection;
        position: fixed;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        color: $mainDark;
        width: max-content;
        padding: 10px 25px;
        border-radius: 5px;
        animation-name: slide-bottom;
        animation-duration: 0.3s;
        transition: 0.3s;
        animation-iteration-count: 1;
        display: none;
        z-index: 50;
    }

    .error-message {
        color: $mainRed;
        text-align: left;
        width: 100%;
        font-size: 12px;
    }
    
    .fail-border { border-color: $mainRed !important; }

    .cursor-pointer {
        cursor: pointer;
    }

    .smooth-shadow {
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    }

    .menu-icon-container {
        width: 30px;
        cursor: pointer;
        .menu-line {
            border: 1px solid $mainBorder;
            width: 100%;
            margin: 10px 0;
        }
    }
    
    .page-not-found {
        text-align: center;
        position: relative;
    }

    @keyframes spin{
        0%{
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      
        100%{
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
    }

    @keyframes slide-bottom {
        from {
            opacity: 0;
            top: 0px;
        }
        to {
            opacity: 1;
            top: 20px;
        }
    }

    @keyframes popup {
        from {
            margin-bottom: -20px;
        }
        to {
            margin-bottom: 0px;
        }
    }

    .highlighted-text {
        color: $primary;
    }
    .mobile-element { display: none; }
    @media (max-width: 960px) {
        .desktop-element { display: none !important; }
        .mobile-element { display: block; }
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}

input:-webkit-autofill
{
 -webkit-text-fill-color: $mainLight !important;
}