body {
    background: $mainDark;
    font-family: "FiraSans-Regular";
    color: $mainLight;
    .App {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 100%;
        .page-view {
            height: 100%;
        }
    }

    a {
        text-decoration: none;
    }

    .d-none {
        display: none !important;
    }

    .text-center {
        text-align: center;
    }

    .base-input-container {
        display: flex;
        border-bottom: 1px solid $mainBorder;
        transition: 0.3s;
        &:hover {
            border-color: $mainLight;
        }
        .base-input {
            background: transparent;
            padding: 10px;
            border-radius: 2px;
            border: none;
            outline: none;
            transition: 0.3s;
            box-shadow: none;
            border-radius: 0px;
            margin: 5px 0;
            padding: 10px 0px;
            width: 100%;
            color: $mainLight;
            &:focus {
                outline: none !important;
            }
        }
        .base-input-toggle {
            height: max-content;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1.5px;
            cursor: pointer;
            position: relative;
            top: 0;
            bottom: 0;
            margin: auto;
            margin-left: 5px;
        }
    }
    
    .base-link {
        text-decoration: none;
        color: $mainLight;
        border: none;
        background: none;
        cursor: pointer;
    }
    
    .base-button {
        background: none;
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }

    .base-card {
        background: $mainCard;
        color: $mainLight;
        padding: 15px;
        border-radius: 2px;
        transition: 0.3s;
        &:hover {
            background: $primary;
            cursor: pointer;
        }
    }
    
    .base-card-component {
        height: 150px;
        position: relative;
        display: flex;
        .base-card-title {
            align-self: flex-end;
            font-size: 18px;
        }
        .base-card-count {
            text-align: center;
            font-size: 50px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: max-content;
            margin: auto;
        }
    }

    .axios-loader-container {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: auto;
        z-index: 10;
        background: $transparentCover;
        transition: 0.3s;
        display: none;
        .axios-loader:before, .axios-loader:after{
            content: "";
            position: absolute;
            width: 50px;
            height: 50px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 100%;
            border: 10px solid transparent;
            border-top-color: $mainDark;
          }
        
        .axios-loader:before{
            z-index: 100;
            animation: spin 1s infinite;
            animation-delay: 0ms;
        }
        
        .axios-loader:after{
            border: 10px solid $mainLight;
        }
    }

    .axios-message-container {
        background: $mainLight;
        position: fixed;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        color: $mainDark;
        width: max-content;
        padding: 10px 25px;
        border-radius: 5px;
        animation-name: slide-bottom;
        animation-duration: 0.3s;
        transition: 0.3s;
        animation-iteration-count: 1;
        display: none;
        z-index: 50;
    }

    .error-message {
        color: $mainRed;
        text-align: left;
        width: 100%;
        font-size: 12px;
    }
    
    .fail-border { border-color: $mainRed !important; }

    .base-navbar-container {
        position: sticky;
        top: 0;
        z-index: 10;
        .base-navbar {
            margin: auto;
            min-height: 20px;
            height: max-content;
            color: $mainLight;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 19px;
            .nav-brand-icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .nav-brand {
                    color: $primary;
                    font-family: "FiraSans-Medium";
                    font-size: 24px;
                }
            }
            .nav-menu {
                display: flex;
                align-items: center;
                .nav-link {
                    padding: 15px;
                    color: $mainLight;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                        color: $primary;
                    }
                }
                img {
                    cursor: pointer;
                }
                .logout-button {
                    margin-left: 5rem;
                }
            }
        }
    }

    .popup-container {
        width: max-content;
        padding: 15px 30px;
        border-radius: 3px;
        float: right;
        background: $mainCard;
        position: absolute;
        right: 0;
        z-index: 50;
        .nav-popup-menu {
            .nav-popup-menu-item {
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .smooth-shadow {
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    }

    .menu-icon-container {
        width: 30px;
        cursor: pointer;
        .menu-line {
            border: 1px solid $mainBorder;
            width: 100%;
            margin: 10px 0;
        }
    }
    
    .page-not-found {
        text-align: center;
        position: relative;
    }

    @keyframes spin{
        0%{
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      
        100%{
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
    }

    @keyframes slide-bottom {
        from {
            opacity: 0;
            top: 0px;
        }
        to {
            opacity: 1;
            top: 20px;
        }
    }


    .mobile-element { display: none; }
    @media (max-width: 960px) {
        .desktop-element { display: none !important; }
        .mobile-element { display: block; }
        .base-navbar {
            flex-direction: column;
            .nav-brand-icons {
                width: 100%
            }
            .control-panel {
                height: 100%;
            }
            .nav-menu {
                display: flex;
                flex-direction: column !important;
                width: 100%;
                a,
                span {
                    text-align: left;
                    font-size: 14px;
                    padding: 10px;
                }
                .logout-button {
                    margin-left: 0px;
                }
            }
        }
    }
}

