@import './colors.scss';
@import './fonts.scss';
@import './animations.scss';
@import './global.scss';
@import './baseItems.scss';
@import './views/auth.scss';
@import './views/dashboard.scss';
@import './views/settings.scss';
@import './views/verification.scss';
